@charset "UTF08";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fonte-geral: 'Roboto', Bebas Neue, Sans-serif;
}

html, body {
    min-height: 100vh; /* Ocupar 100% da altura da tela disponível */
    margin: 0px; /* Remove uma margem entre o fundo dos elementos e a página branca */

}

header {
    background-color: black;
    font-family: var(--fonte-geral);
    color: white;
    margin: 0px;
    width: 100vw;
    text-align: center;
}

header > h1 {
    margin: 0px;
    padding-top: 40px;
}

header > p {
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
}

